---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

pre, code {
  background-color: #202020;
  padding: 0;
  color: #fefefc;
  border: none;
  font-family: Inconsolata;
}

.rouge-table {
  margin: 0;
}

.rouge-table .gutter {
  padding: 0;
  text-align: center;
}

header a {
  color: #ced6b7 !important;
  text-decoration: none;
  text-shadow: 1px 2px 3px #A5AB8E;


  &:hover {
    text-decoration: none;
  }
}

a {
  color: #354F4C !important;
  text-decoration: underline;
  text-shadow: 1px 2px 3px #A5AB8E,
               -1px -1px 2px #C9D685;

  &:hover {
    text-decoration: none;
  }
}

.featured-image-banner {
  width: 100%;
}

hr { 
  border: 0; 
  height: 0; 
  width: 75%;
  margin: 0 auto 50px auto;
  box-shadow: 0 0 5px 1px #1c2329; 
} 

hr {
  content: "\00a0"; 
}