---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="content">
          {{ post.content | extlinks }}
        </div>
        <span class="post-meta">Posted: {{ post.date | date: "%Y/%m/%d @ %H:%m" }} 
          {%- if post.updated -%}
            &nbsp;| Last updated: {{ post.updated | date: "%Y/%m/%d @ %H:%m" }}
          {%- endif -%}
          {%- if post.comments -%}
            &nbsp;| <a href="{{ post.url | relative_url }}#disqus_thread "></a>
          {%- endif -%}
        </span>
      </li>
      <hr>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
