---
layout: default
---

<div class="home">
  {%- if site.posts.size > 0 -%}
      <div class="posts-container">
        {%- for post in site.posts -%}
        <div class="post-item">
          {% if post.featured-image %}
            <img class="featured-image-banner" src="{{ post.featured-image | asset_path }}" />
          {% endif %}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <div class="content">
            {{ post.content | ext_links | first_paragraph }} 
          </div>
          <span class="post-meta">Posted: {{ post.date | date: "%Y/%m/%d @ %H:%m" }} 
            {%- if post.updated -%}
              &nbsp;| Last updated: {{ post.updated | date: "%Y/%m/%d @ %H:%m" }}
            {%- endif -%}
            {%- if post.comments -%}
              &nbsp;| <a href="{{ post.url | relative_url }}#disqus_thread "></a>
            {%- endif -%}
          </span>
        </div>
        {%- endfor -%}
      </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
